<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Assesment</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-size: larger;">
            <a class="nav-item nav-link" routerLink="employee" href="#">Employee Form</a>
            <a class="nav-item nav-link" routerLink="employeelist" href="#">Employee Details</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<!-- <employee></employee> -->